CompileFlags: # Tweak the parse settings
  Add: 
    - "--include-directory=/workspace/wgctrl-js/node_modules/node-addon-api"
    - "--include-directory=/workspace/wgctrl-js/deps/wireguard"
    - "--include-directory=/home/gitpod/.nvm/versions/node/v18.13.0/include/node"